<div class="container">
  <div class="row-fluid">
    <div id="user-guide" class="span8 offset1">
      <h1>User Guide</h1>
      <p>
        <h2>Getting Started</h2>
        To log in to Utility In Stereo, click the 'Login' link in the top right of the
        page and fill in the form with your Email address and password, then click the
        Log In button.
        <img src="http://i1154.photobucket.com/albums/p526/shanekilkellyuis/utilityinstereoimages/4b177da7.png" border="0" alt="Photobucket" height="150">
        This will take you to your User Profile. The sidebar on the left of the page
        contains links to your Calendar, Clients, Projects and other pages.
      </p>
      <br />
      <p>
        <h2>Clients</h2>
        Click on the “Clients” link in the sidebar to view a list of all your Clients.
        Click the 'New Client' button to add a new Client record to your account. To see
        more details about any particular Client, click on their name. From this page
        you can add new contact details or access the edit page.
        <img src="http://i1154.photobucket.com/albums/p526/shanekilkellyuis/utilityinstereoimages/7ab07dac.png" border="0" alt="Photobucket" height="200">
        Each Client can hold multiple Contact details consisting of names, email
        addresses and phone numbers, so you can have the details of the bands
        drummer, the bassist and the manager all in one place.
      </p>
      <br />
      <p>
        <h2>Projects</h2>
        To start a new Project with a Client, click on the green 'New Project'
        button next to the Client. The Project can record all the details you need, such
        as the estimated total fee for the Project, the deposit taken from the Client,
        the agreed upon hourly rate and the Deadline for completion.
        To see all your active Projects, click on the “Projects” link in the side-bar.
        Any completed Projects can be viewed by clicking the “Show Done Projects” link
        at the bottom of the list.
        <img src="http://i1154.photobucket.com/albums/p526/shanekilkellyuis/utilityinstereoimages/cb2b07ce.png" border="0" alt="Photobucket" height="200">
        To see more details about a particular Project or Phase, click on it's
        name. The Project page shows a more in-depth overview of the Project status
        and progress, along with a list of the Phases and Tasks.
        <img src="http://i1154.photobucket.com/albums/p526/shanekilkellyuis/utilityinstereoimages/bdc9fec5.png" border="0" alt="Photobucket" height="200">
        <img src="http://i1154.photobucket.com/albums/p526/shanekilkellyuis/utilityinstereoimages/1b8ae6ac.png" border="0" alt="Photobucket" height="200">
      </p>
      <br />
      <p>
        <h2>Adding Phases and Tasks</h2>
        On the Project page, click the 'New Phase' button to define a Phase of
        your Project. If you are charging a flat rate for this Phase, tick the box and
        enter the amount being charged. This in combination with the Projects
        quotation and hourly rate is a great way of keeping track of Project financial
        details and estimating the amount owed to you at the end of the Project.
        <br />
        Each Phase can have many Tasks, which can be added using the 'New
        Task' button. The hierarchy of Projects, Phases and Tasks allows you to define
        you're project in as much details as you need. Once a Task or Phase is
        completed, click on its green 'Done' button to mark it as done and update the
        Project progress-bar.
      </p>
      <br />
      <p>
        <h2>Working With Events</h2>
        From the 'Calendar' page you can view all the events on your schedule
        and create new Events. For more details on any Event, click on it's label in the
        Calendar.
        <img src="http://i1154.photobucket.com/albums/p526/shanekilkellyuis/utilityinstereoimages/4763b237.png" border="0" alt="Photobucket" height="200">
        <img src="http://i1154.photobucket.com/albums/p526/shanekilkellyuis/utilityinstereoimages/fcf854d7.png" border="0" alt="Photobucket" height="120">
        Click on the 'New Event' button to create a new Event. This form allows
        you to define a start and end date with a start and end time. It is possible to
        define events spanning multiple days or to have Events which overlap with
        other Events. It is also possible to create an Event which is explicitly related to
        a Project Task by using the 'Make Event' button on that Task.
      </p>
      <br />
      <p>
        <h2>Using Your Public Pages</h2>
        Your account features two set's of public-facing pages. The first is you're
        Enquiries form, which can be used by prospective Clients to send an enquiry
        message straight into your Utility In Stereo account. To see a list of new
        Enquiries and to get your own form link, click the 'Enquiries' button in the side-
        bar.<br />
        <img src="http://i1154.photobucket.com/albums/p526/shanekilkellyuis/utilityinstereoimages/0f32283e.png" border="0" alt="Photobucket" height="200">
        <img src="http://i1154.photobucket.com/albums/p526/shanekilkellyuis/utilityinstereoimages/0dfa2633.png" border="0" alt="Photobucket" height="220">
        Additionally, each of your Projects can be configured to have a public-
        facing view which shows the Events associated with the Project and a short
        message.<br />
        The link to this view can be shared with the Client and used as a bulletin-
        board to keep the Client informed of the Project schedule. You can control
        which Events appear in this view by using their 'public' option on the Event edit
        page. The option to present a public view and to configure the message seen
        by the Client can be configured from the Project edit page.
        <img src="http://i1154.photobucket.com/albums/p526/shanekilkellyuis/utilityinstereoimages/4a193ee8.png" border="0" alt="Photobucket" height="200">
      </p>
      <br />
    </div>
  </div>
</div>
