<div class="row-fluid">
  <div class="center hero-unit">
    <h1>Your Account is Inactive</h1>
    <br />
    <p>
      If your trial has expired recently, please do consider
      <%= link_to "activating a subscription", plans_path %> to continue using 
      Utility In Stereo.
    </p>
    <p>
      If you believe there has been a terrible mistake, 
      please <%= link_to "contact the system administrator", contact_us_path %>.
    </p>
  </div>
</div>